<header>
    <div class="head_back" data-back="{{back}}"></div>
    <div class="head_title">{{title}}</div>
</header>
<div class="main">
    <div class="uc_addaddress">
        <ul>
            <li><input type="text" placeholder="收货人姓名" /></li>
            <li><input type="tel" placeholder="手机号码" /></li>
            <li><input type="tel" placeholder="邮政编码" /></li>
            <li class="js_area">省、市、区</li>
            <li><input type="text" placeholder="详细地址"></li>
            <li class="set_default checked">设为默认地址</li>
        </ul>
        <b class="btn">保&nbsp;&nbsp;存</b>
    </div>
</div>