<header>
    <div class="head_back" data-back="{{back}}"></div>
    <div class="head_title">{{title}}</div>
</header>
<div class="main uc_address">
    <div class="uc_address_new js_add_address">添加新地址</div>
    <ul class="uc_address_con">
        <li class="default">
            <p class="hd"><span class="name">姓名</span><span class="mobi">12345678888</span></p>
            <p class="con">上海市浦东新区XXX街道浦东大道2000号阳光世界大厦3楼</p>
        </li>
         <li class="curr default">
            <p class="hd"><span class="name">姓名</span><span class="mobi">12345678888</span></p>
            <p class="con">上海市浦东新区XXX街道浦东大道2000号阳光世界大厦3楼</p>
        </li>
    </ul>
</div>