<div class="main co_share" style="top:0">
    <div class="co_share_con">
        <div class="say">
            <p class="img"><img src="" alt=""><em>{{user.PSP_NAME||user.PSP_CODE}}</em></p>
            <p class="cont">我把在ABS家居领到的优惠券送给你~赶快来领取吧！</p>
        </div>
        <div class="letter">
            <div class="closed"></div>
            <i class="logo"></i>
        </div>
        <div class="btn get" sn-tap="this.getCoupon()">马上领取</div>
        <div class="steps">
            <p>立即领券</p>
            <i></i>
            <p>下单购买</p>
            <i></i>
            <p>结算选券</p>
            <i></i>
            <p>商品到家</p>
        </div>
    </div>
    <div class="co_share_user">
        <div class="hd"></div>
        <div class="con">
            1.优惠券可在ABS家居官方APP“我的卡券”中查看。（购物-去结算-选择优惠券-点击购买）
            <br> 2.请在优惠券有效期内及时兑换，逾期作废。
            <br> *本活动最终解释权归上海爱彼此家居用品股份有限公司所有。
        </div>
    </div>
</div>