html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; font-style: normal; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); list-style: none; box-sizing: border-box; }

body, html { width: 100%; overflow-x: hidden; font-family: Helvetica Neue,Helvetica,Arial,sans-serif; }
html{font-size: 5px;}
body{font-size: 16px;}
img { background: #e7e7e7 url(imgbg.png) center center no-repeat; background-size: 60% auto; }
a { text-decoration: none; color: #333; }
input { -webkit-appearance: none; outline: none; box-sizing: border-box; }
input::-webkit-input-placeholder { font-size: 13px; line-height: 1; }

header { position: absolute; top: 0px; left: 0px; width: 100%; height: 44px; line-height: 44px; background: #292929; text-align: center; color: #fff; font-weight: bold; z-index: 200; overflow: hidden; font-size: 18px; overflow: hidden; -webkit-user-select: none; user-select: none; }
footer { position: absolute; bottom: 0px; left: 0px; width: 100%; z-index: 200; overflow: hidden; -webkit-user-select: none; -webkit-touch-callout: none; }
.head_title { text-align: center; margin: 0px 50px; position: absolute; right: 0px; left: 0px; top: 0px; z-index: -1; font-size: 18px; letter-spacing: 1px; overflow: hidden; font-weight: normal; }
.fix_statusbar { padding-top: 20px; box-sizing: content-box; }

.has_status_bar header { border-top: 20px solid #fff; border-top-style: solid; box-sizing: content-box !important; }
.has_status_bar .main { top: 64px; }

.viewport { position: absolute; overflow: hidden; width: 100%; background: #fff; bottom: 0px; top: 0px; right: 0; left: 0; z-index: 1; }
.view { position: absolute; width: 100%; top: 0; left: 0; bottom: 0; background: #fff; -webkit-transform: translate(0px,0px) translateZ(0); overflow: hidden; -webkit-box-shadow: -3px 2px 5px rgba(49,60,75,.35); box-shadow: -3px 2px 5px rgba(49,60,75,.35); }
.view:before { display: block; content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 10000; }
.view.active { z-index: 4; }
.view.active:before { display: none; }
.view.active .main { z-index: 100; }
.view.transparent { background: rgba(0,0,0,0); border: 0; -webkit-box-shadow: none; box-shadow: none; }

.main { position: absolute; bottom: 0px; right: 0px; left: 0px; top: 44px; overflow: hidden; overflow-y: auto; z-index: 1; }
.content { width: 100%; padding: 10px 3%; border-top: 2px solid #d31145; margin-top: 5px; background: #fff; }

.virtualdom { position: absolute; top: 0px; left: 0px; -webkit-transform: translate(0px,0px) translateZ(0); background: rgba(0,0,0,0); }
.virtualdom-hide { display: none; display: none !important; }

.sl_scroller { min-height: 100%; }
.imagecanvas { z-index: 2; pointer-events: none; background: rgba(0,0,0,0); position: absolute; }

.scrollview { overflow: hidden; }


.clearfix:after { height: 0px; display: block; font-size: 0px; content: ''; clear: both; }

.tip { width: 60%; position: fixed; left: 20%; padding: 15px; font-size: 18px; top: 50%; background: #000; color: #ffffff; text-align: center; z-index: 2003; -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 1px rgba(49,60,75,.35); box-shadow: 0 1px 1px rgba(49,60,75,.35); overflow: hidden; -webkit-transition: all 200ms ease-out 0ms; -webkit-transform: scale(0.2,0.2); opacity: .2; word-wrap: break-word; }
.tip-show { -webkit-transform: scale(1,1); opacity: .9; }
.tip-hide { -webkit-transform: scale(0.2,0.2); opacity: .2; }

.dialog { background: #f5f5f5; -webkit-border-radius: 7px; overflow: hidden; margin-left: 5%; margin-right: 5%; width: 90%; z-index: 2001; position: absolute; left: 0; top: -10000px; display: none; -webkit-transform: translateZ(0); -webkit-user-select: none; -webkit-user-drag: none; }
.dialog-close { position: absolute; right: 0px; top: 0px; z-index: 10; width: 40px; height: 40px; }
.dialog-close:before { content: ''; display: block; background: url(close.png) no-repeat; background-size: 100% auto; width: 14px; height: 14px; margin: 10px 0 0 14px; }
.dialog-title { height: 36px; line-height: 36px; font-size: 15px; text-align: center; font-weight: 700; -webkit-border-radius: 3px 3px 0 0; }
.dialog-content { padding: 10px; position: relative; font-size: 14px;}
.dialog-btns { table-layout: fixed; display: table; border-collapse: collapse; margin: 10px 0 0 0; width: 100%; }
.dialog-btn:first-child { -webkit-border-bottom-left-radius: 3px; border-left: 0 none; }
.dialog-btn { padding: 0; font-size: 18px; width: 100%; display: table-cell; border-collapse: collapse; float: none; text-align: center; height: 40px; line-height: 40px; color: #0079FF; border: 1px solid #B1B1B1; background-color: #f7f7f7; border-bottom: 0 none; cursor: pointer; text-decoration: none; }
.dialog-btn:active { background-color: #f1f1f1; }


.prompt-text { border: 1px solid #b1b1b1; background-color: #fff; height: 30px; line-height: 30px; width: 90%; display: block; margin: 0px auto; padding: 0 10px; }
input[type="password"].prompt-text { letter-spacing: 2px; }


.dropdown { display: block; position: absolute; -webkit-transition: opacity 300ms ease 0ms; width: 100%; background: #b7152d; font-size: 14px; border: 1px solid #fff; opacity: 1; line-height: 18px; z-index: 2001; overflow: hidden; height: auto; top: -100%; text-align: center; color: #fff; font-weight: bold; }
.dropdown.hide { opacity: 0; }
.dropdown_bd { width: 100%; }
.dropdown_bd:after { content: ''; height: 0px; overflow: hidden; font-size: 0; clear: both; }
.dropdown_bd > li { display: block; border-right: 1px solid #fff; border-bottom: 1px solid #fff; padding: 6px 10px; width: 50%; float: left; }
.dropdown_bd > li:last-child { border-right: 0; border-bottom: 0; }
.dropdown_bd > li.curr { color: #f3e210; font-weight: bold; }

.dataloading { top: 50%; left: 50%; margin: -20px 0 0 -20px; position: absolute; width: 40px; height: 40px; text-indent: -10000px; background: url(dataloading.png) 0 0 no-repeat; background-size: 100% 100%; -webkit-animation-name: ui-loading-anim; -webkit-animation-duration: 1s; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: step-start; z-index: 1000; opacity: 0; -webkit-transition: opacity 300ms ease-out 0ms; pointer-events: none; }
.dataloading.show { opacity: 1; }
.refresh { position: relative; }
.refresh .dataloading { margin: -15px 0 0 -15px; width: 30px; height: 30px; opacity: 1; }

.server_error { top: 50%; left: 0; margin: -20px 0 0 0; position: absolute; width: 100%; height: 40px; text-align: center; font-family: 微软雅黑; z-index: 2000; }
.server_error .ico_reload { display: inline-block; background: url(reload.png) 0 0 no-repeat; background-size: 100% 100%; width: 40px; height: 40px; vertical-align: top; }
.server_error i.msg { display: inline-block; height: 40px; overflow: hidden; line-height: 40px; padding-right: 6px; }
.refreshing { line-height: 50px; height: 50px; background: #fff; color: #808080; text-align: center; width: 100%; z-index: 1; -webkit-transition: height 300ms ease 0ms; }


.selectorwrap { display: -webkit-box; position: absolute; z-index: 1000; bottom: 0px; width: 100%; height: 210px; -webkit-transform: translate(0px,100%); -webkit-transition: all 300ms ease-out 0ms; }
.selectorwrap.show { -webkit-transform: translate(0px,0px); }
.selectorwrap.show .selectorcon > ul { -webkit-transform: translate(0px,0px); }
.selectorbar { border-bottom: .5px solid #ccc; height: 38px; z-index: 3; background: #fff; position: absolute; top: 0; left: 0; right: 0; line-height: 38px; }
.selectorbar b { width: 80px; padding-right: 10px; float: right; height: 100%; font-weight: normal; text-align: right; color: #0079FF; font-size: 16px; }
.selector { display: -webkit-box; background: #fff; text-align: center; height: 172px; position: relative; z-index: 1; margin: 38px 0 0 0; width: 100%; }
.selector > :nth-child(n) { -webkit-box-flex: 1; width: 0; }
.selector > :nth-child(n+2) { border-left: 1px solid #ddd; }
.selector:before { content: ''; display: block; background: -webkit-linear-gradient(top, rgb(255, 255, 255) 5%, rgba(255, 255, 255, 0) 50%, rgb(255, 255, 255) 95%); position: absolute; width: 100%; top: 0; left: 0; bottom: 0px; z-index: 2; pointer-events: none; }
.selectorcon { position: relative; z-index: 1; }
.selector:after { content: ''; display: block; margin-top: -7px; position: absolute; left: 0; top: 50%; height: 32px; border-top: .5px solid #ddd; border-bottom: .5px solid #ddd; width: 100%; z-index: 100; pointer-events: none; }
.selectorcon > ul > li { height: 30px; font-size: 16px; }
.selectorcon > ul { padding: 86px 0 56px 0; -webkit-transform: translate(0px,100%); -webkit-transition: all 300ms ease-out 0ms; }

.slidebar { position: relative; }
.slidebar:before { width: 50%; position: absolute; top: 0px; height: 100%; background: #ffd24f; -webkit-box-shadow: #999 0px 0px 16px inset; box-shadow: #999 0px 0px 16px inset; left: 25%; z-index: 0; content: ''; display: block; }
.slidebar ul { width: 200%; -webkit-transform: translate(-20%,0); position: relative; z-index: 1; margin-left: -10%; }
.slidebar ul:after { clear: both; }
.slidebar ul li { width: 20%; float: left; text-align: center; }


.slider { position: relative; overflow: hidden; -webkit-transform: translate(0px,0px) translateZ(0); }
.slider-con { background: #fff; width: 200%; position: relative; z-index: 1; margin-left: 0; }
.slider-con:after { clear: both; content: ''; display: block; font-size: 0; height: 0; }
.slider-item { width: 320px; float: left; text-align: center; background: #fff; }
.slider-nav { position: absolute; bottom: 0px; left: 0px; width: 100%; height: 25px; line-height: 25px; z-index: 2; text-align: center; background: #ddd; opacity: .5; }
.slider-nav-item { display: inline-block; height: 8px; width: 8px; background: #000; opacity: .4; margin: 2px 5px; border-radius: 4px; font-size: 0; vertical-align: -4px; }
.slider-nav-item.curr { background: #c00; }
.slider-pre, .slider-next { position: absolute; width: 44px; height: 44px; left: 0px; top: 50%; margin-top: -22px; background-size: 320px auto; z-index: 1; }
.slider-next { background-position: -237px 0px; right: 0px; left: auto; }
.slider img { width: 100%; display: block; }


.btn { display: inline-block; height: 35px; line-height: 35px; vertical-align: top; text-align: center; background: #0f1423; color: #fff; }
.btn_large, .btn_large2 { background: #f90; display: block; text-align: center; height: 39px; line-height: 39px; border-radius: 4px; color: #fff; margin: 8px; }
.btn_large2 { background: #fff; border: 1px solid #f90; color: #f90; box-sizing: border-box; }
.action { display: -webkit-box; text-align: center; }
.action .btn { -webkit-box-flex: 1; display: block; margin-right: 20px; }
.action .btn:last-child { margin-right: 0; }
.disabled { opacity: .5; }


.checkbox { width: 16px; height: 16px; display: inline-block; border: 1px solid #333; overflow: hidden; vertical-align: -2px; margin-right: 5px; }
.checkbox.checked:before { margin: 1px; width: 12px; height: 12px; content: ''; display: inline-block; background: #333; vertical-align: top; }

.radio { display: inline-block; }
.radio:before { width: 30px; height: 30px; content: ''; display: inline-block; }

.box { display: -webkit-box; }
.box-item { width: 0px; display: block; -webkit-box-flex: 1; border-radius: 6px; background: #fff; margin: 10px; margin-right: 0px; text-align: center; padding: 10px; box-shadow: 2px 2px 2px #666; }
.box-item:last-child { margin-right: 10px; }

.table { width: 100%; display: table; }
.table-row { display: table-row; }
.table-cell { display: table-cell; text-align: center; padding-top: 5px; }

.tabs { width: 100%; position: relative; overflow: hidden; }
.tabs_nav { width: 100%; overflow: hidden; position: relative; z-index: 4; background: #fff; }
.tabs_nav_con { width: 100%; display: -webkit-box; height: 34px; line-height: 34px; color: #797979; text-align: center; font-size: 16px; -webkit-transform: translate(0,0); }
.tabs_nav_con li { width: 0px; -webkit-box-flex: 1; height: 100%; border-bottom: 1px solid #ccc; }
.tabs_nav_con li.curr { color: #f90; position: relative; }
.tabs_nav_con li.curr:after { display: block; width: 60%; left: 20%; bottom: 0px; border-bottom: 2px solid #f90; content: ''; position: absolute; }
.tabs_content { width: 100%; overflow: hidden; }
.tabs_panel { width: 100%; z-index: 2; display: none; }
.tabs_panel.curr { display: block; }


.vp_offline { margin-top: 80px; text-align: center; }
.vp_offline .ico { width: 100px; height: 100px; border-radius: 50%; background: #ccc; margin: 0 auto; padding-top: .1px; }
.vp_offline .ico:before { display: block; background: url(icon.png) no-repeat -150px -385px; content: ''; width: 75px; height: 55px; background-size: 320px auto; margin: 22px auto 2px auto; }
.vp_offline .txt { margin-top: 15px; font-size: 2.8rem; }
.vp_offline .txt_sub { margin-top: 4px; font-size: 2.4rem; color: #999; }
.vp_offline .btn { margin-top: 15px; color: #999; border: 1px solid #ccc; padding: 0 20px; font-size: 2.6rem; background: #fff; border-radius: 4px; }
.vp_offline .btn:active { background:#ddd }