header { border-top-color: #d6415c; background: #d6415c; height: 47px; line-height: 47px; }
.footer { position: absolute; bottom: 0px; width: 100%; height: 50px; border-top: 1px solid #ccc; background: #fff; z-index: 1000; display: -webkit-box; text-align: center; color: #666; }
.footer li { width: 0px; -webkit-box-flex: 1; font-size: .8em; }
.footer li:before { display: block; background: url(icon.png) no-repeat 0px -30px; content: ''; width: 30px; height: 30px; background-size: 320px auto; margin: 2px auto 0 auto; }
.footer li.curr { color: #fff; background-color: #d6415c; }
.footer li.curr:before { background-position-y: -60px; }
.footer li:nth-child(2):before { background-position-x: -30px; }
.footer li:nth-child(3):before { background-position-x: -60px; }
.footer li:nth-child(4):before { background-position-x: -90px; }

.head_back, .head_menu { width: 60px; height: 47px; z-index: 1000; }
.head_back:before, .head_menu:before, .head_msg:before { display: block; background: url(icon.png) no-repeat; content: ''; width: 30px; height: 30px; background-size: 320px auto; margin: 8px 0 0 8px; }
.head_back:before { background-position: -30px 0px; }
.head_msg { width: 50px; position: absolute; right: 0px; top: 0px; height: 47px; z-index: 1000; }
.head_msg:before { background-position: -60px 0px; }
.head_msg i { position: absolute; top: 7px; left: 23px; background: #fff; color: #d6415c; border-radius: 8px; height: 14px; font-size: 12px; line-height: 14px; font-weight: normal; padding: 0 4px; }

.head_search_btn { min-width: 60px; position: absolute; right: 0px; top: 0px; }
.head_search_btn .btn_small { background: #74c0f3; height: 30px; line-height: 31px; color: #fff; font-size: 14px; display: block; margin: 9px 6px 0 6px; border-radius: 4px; padding: 0 10px; }

.main { top: 47px; background: #eeefef; padding-top: .1px; }
.btn_large { height: 40px; line-height: 40px; background-color: #d4003b; font-size: 1.2em; }
.btn_middle { background-color: #d4003b; height: 35px; line-height: 35px; display: block; border-radius: 4px; color: #fff; padding: 0 5px; }

.form { margin-top: 10px; padding-top: .1px; }
.form li { margin: 15px 10% 0 10%; display: -webkit-box; }
.form li input { display: block; height: 40px; border: 0px; border-radius: 5px; padding-left: 10px; }
.form li input::-webkit-input-placeholder { font-size: 14px; }
.form li :nth-child(n+2) { margin-left: 10px; }
.form_mobile { position: relative; }
.form_mobile:before { content: '+86'; padding-left: 9px; line-height: 40px; position: absolute; }
.form .form_mobile input { padding-left: 40px; }
.form .btn_middle { height: 40px; line-height: 40px; }

.login_form input { -webkit-box-flex: 1; }
.login_btn { margin-top: 20px; }
.login_btn .btn_large { margin-left: 10%; margin-right: 10%; }
.login_hd { margin: 20px 10% 0 10%; font-size: 1.2em; color: #666; }

.home_bd { position: relative; background: #fff; padding: 20px 0; }

.sector { width: 116px; height: 116px; position: relative; background: #d4003b; border-radius: 50%; margin: 20px; }
.sector_left, .sector_right { position: absolute; width: 59px; height: 118px; background-color: #fcf9f2; top: -1px; }
.sector_left { border-top-left-radius: 118px; border-bottom-left-radius: 118px; left: -1px; -webkit-transform-origin: 100% 50%; }
.sector_right { border-top-right-radius: 118px; border-bottom-right-radius: 118px; -webkit-transform-origin: 0% 50%; right: -1px; }
.sector_left:before, .sector_right:before { box-sizing: border-box; content: ''; display: block; border: 2px solid #fff; width: 54px; height: 108px; }
.sector_left:before { border-top-left-radius: 108px; border-bottom-left-radius: 108px; margin: 5px; border-right: 0px; }
.sector_right:before { border-top-right-radius: 108px; border-bottom-right-radius: 108px; margin: 5px 5px 0 0; border-left: 0px; }
.sector_half { background: #fcf9f2; }
.sector_half:before { content: ''; display: block; width: 104px; height: 104px; position: absolute; top: 4px; left: 4px; border-radius: 50%; background: #fcf9f2; border: 2px solid #fff; }
.sector_half .sector_left, .sector_half .sector_right { background: #d4003b; }
.sector_half .sector_left:before, .sector_half .sector_right:before { display: none; }

.sector_center { width: 96px; height: 96px; position: absolute; top: 10px; left: 10px; border-radius: 50%; background: #fcf9f2; text-align: center; }
.sector_center b { font-weight: bold; display: block; margin-top: 32px; }
.sector_center span { display: block; font-size: .9em; margin-top: 3px; }

.launch { width: 100%; position: absolute; top: 0; left: 0; bottom: 0; right: 0; overflow: hidden; z-index: 1; }
.launch img { width: 100%; display: block; min-height: 500px; }

.home_mask { position: absolute; z-index: 2; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0,0,0,.5); }

.home_text { width: 100%; position: absolute; top: 50%; margin-top: -80px; z-index: 2; color: #fff; text-align: center; }
.home_text h1 { height: 30px; background: url(site.png) no-repeat; width: 260px; background-size: 320px auto; margin: 0 auto; }
.home_text h2 { font-size: 1.3em; margin-top: 10px; }
.home_text h3 { font-size: 1.1em; margin-top: 34px; }
.home_text h4 { font-size: .9em; display: inline-block; border: 1px solid #fff; border-radius: 4px; padding: 4px; margin-top: 8px; }

.home_vip { position: relative; width: 100%; height: 220px; overflow: hidden; padding-top: 20px; }
.rainbow { width: 234px; height: 177px; left: 50%; margin-left: -117px; background: url(home_vip.png) no-repeat; background-size: 100% auto; position: absolute; z-index: 11; }
.rainbow_points li { color: #999; position: absolute; font-size: .9em; }
.rainbow_points li:nth-child(1) { top: 161px; left: -2px; -webkit-transform: rotate(-117deg); }
.rainbow_points li:nth-child(2) { top: 50px; left: -12px; -webkit-transform: rotate(-65deg); }
.rainbow_points li:nth-child(3) { top: -18px; left: 104px; -webkit-transform: rotate(0deg); }
.rainbow_points li:nth-child(4) { top: 50px; left: 215px; -webkit-transform: rotate(64deg); }
.rainbow_points li:nth-child(5) { top: 161px; left: 215px; -webkit-transform: rotate(114deg); }

.rainbow_vip li { color: #999; position: absolute; font-size: .8em; z-index: 100; }
.rainbow_vip li:nth-child(1) { top: 130px; left: 28px; -webkit-transform: rotate(-108deg); }
.rainbow_vip li:nth-child(2) { top: 73px; left: 37px; -webkit-transform: rotate(-65deg); }
.rainbow_vip li:nth-child(3) { top: 37px; left: 104px; -webkit-transform: rotate(0deg); }
.rainbow_vip li:nth-child(4) { top: 71px; left: 175px; -webkit-transform: rotate(60deg); }
.rainbow_vip li:nth-child(5) { top: 132px; left: 180px; -webkit-transform: rotate(111deg); }
.rainbow_vip li.curr { color: #d6415c; }

.rainbow_bd { text-align: center; margin-top: 70px; z-index: 10000; position: relative; }
.rainbow_bd .point { font-size: 35px; color: #d6415c; }
.rainbow_bd .desc { font-size: 1em; color: #d6415c; margin-top: 5px; }
.rainbow_bd .point_tip { font-size: .8em; margin-top: 15px; -webkit-transition: -webkit-transform 300ms cubic-bezier(.45,1.28,.65,1.24) 0ms; -webkit-transform: perspective(400px) rotateX(90deg) rotateY(0deg); -webkit-transform-origin: 50% 100%; }
.rainbow_bd .point_tip span { color: #d6415c; font-weight: bold; }
.rainbow_bd p { font-size: .75em; color: #333; margin-top: 5px; }
.rainbow_bd .point_tip.show { -webkit-transform: perspective(400px) rotateX(0deg); }
.rainbow_bd .point_tip em { background: #d6415c; color: #fff; line-height: 1.4; display: inline-block; padding: 0 2px; margin: 0 1px; }

.home_points_bg { width: 182px; height: 182px; border: 4px solid #ccc; border-radius: 50%; position: absolute; left: 50%; top: 48px; margin-left: -91px; }
.home_points_bg:before { content: ''; display: block; position: absolute; top: 27%; left: 50%; background: #fff; width: 180px; height: 180px; -webkit-transform-origin: 0% 0%; -webkit-transform: rotate(45deg); z-index: 10; }
.home_points { width: 91px; height: 132px; position: absolute; left: -4px; top: -4px; z-index: 1; overflow: hidden; -webkit-transform-origin: 100% 91px; -webkit-transform: rotate(-117deg); }
.home_points:before { left: 100%; top: 51px; }
.home_points:after { display: block; content: ''; width: 182px; height: 182px; border: 4px solid #d6415c; border-radius: 50%; box-sizing: border-box; }
.home_points_cursor { width: 30px; height: 30px; background: url(icon.png) no-repeat 0px -90px; background-size: 320px auto; position: absolute; z-index: 1000; -webkit-transform-origin: 50% 50%; -webkit-transform: rotate(-117deg); left: 10px; top: 132px; margin-top: -15px; margin-left: -15px; }

.menu { background: #eeefef; }
.menu_username { margin: 20px 0 0 10px; }
.menu_username h1 { font-size: 1.3em; }
.menu_username h1 span { font-size: .6em; color: #666; margin-left: 20px; text-decoration: underline; }
.menu_username h2 { font-size: .8em; color: #666; margin-top: 4px; }
.menu_bd { position: absolute; right: 20%; top: 0; left: 0; bottom: 0; }
.menu_user { height: 90px; overflow: hidden; }
.menu_list { border-top: 1px solid #ccc; margin-bottom: 40px; }
.menu_list li { border-bottom: 1px solid #ccc; overflow: hidden; line-height: 50px; }
.menu_list li:before { margin: 6px 5px 5px 5px; }

.menu_service li:nth-child(1):before { background-position-x: -160px; }
.menu_service li:nth-child(2):before { background-position-x: -200px; }

.menu_settings li:nth-child(1):before { background-position-x: -240px; }

.home .main { bottom: 50px; }
.home_my .card { background: #fff; border-radius: 5px; margin: 10px; padding: 10px; color: #000; }
.home_my .mobile { margin-top: 6px; margin-bottom: 5px; text-align: center; }

.barcode { height: 60px; display: block; width: 100px; display: -webkit-box; margin: 15px 0 0 6px; }
.barcode i, .barcode em { height: 100%; display: block; width: 2px; }
.barcode i { background: #000; }

.myabs { margin: 10px 0; border-bottom: 1px solid #d6415c; background: #fff; color: #333; }
.myabs li { border-top: 1px solid #d6415c; overflow: hidden; }
.myabs li:before, .menu_list li:before { display: block; content: ''; float: left; width: 40px; height: 40px; border-radius: 50%; background: url(icon.png) no-repeat 0px -150px; background-size: 320px auto; }
.myabs li:before { margin: 16px 12px 16px 12px; -webkit-transform: scale(1.4); }
.myabs li:nth-child(2):before, .menu_my li:nth-child(2):before { background-position-x: -40px; }
.myabs li:nth-child(3):before, .menu_my li:nth-child(3):before { background-position-x: -80px; }
.myabs li:nth-child(4):before, .menu_my li:nth-child(4):before { background-position-x: -120px; }
.myabs li b { display: block; margin-top: 19px; font-size: .9em; }
.myabs li span { display: block; font-size: .8em; margin-top: 5px; }
.myabs li em { color: #d4003b; }

.month_present { padding: 6px; background: #fff; }
.month_present img { display: block; width: 100%; min-height: 100px; }
.month_notice { font-size: .8em; text-align: center; margin-top: 10px; }
.month_notice em { color: #d6415c; }
.month li { float: left; width: 25%; margin-left: 6%; background: #d6415c; margin-top: 20px; text-align: center; position: relative; border-radius: 4px; color: #fff; }
.month .flag { position: absolute; top: 6px; left: 0px; font-size: .6em; background: #c00; padding: 1px; z-index: 2; }
.month li:before { padding-top: 85.71%; content: ''; display: block; }
.month li img { position: absolute; width: 100%; min-height: 69px; top: 0px; border-radius: 4px; display: block; z-index: 1; }
.month li span { position: absolute; top: 50%; left: 0; width: 100%; margin-top: -7px; font-size: 14px; z-index: 2; }
.month .lastmonth ~ li { background: #f4ca3c; }

.month .curr em { position: absolute; display: block; width: 106%; margin-left: -3%; background: #c00; color: #fff; bottom: -5px; font-size: 1em; padding: 6px; border-radius: 4px; }
.month .curr em:before { content: ''; display: block; background: #c00; width: 7px; height: 7px; position: absolute; top: -3px; left: 20%; -webkit-transform: rotate(45deg); }

.mycard { background: #fff; }

.mycard_hd { display: -webkit-box; margin-top: 2px; text-align: center; }
.mycard_hd li { -webkit-box-flex: 1; width: 0px; background: #eeefef; color: #666; height: 40px; line-height: 40px; }
.mycard_hd .curr { background: #d6415c; color: #fff; }

.mycard_con { margin-top: 10px; }
.mycard_con li { height: 95px; margin: 0px 5px 5px 5px; overflow: hidden; position: relative; background: #f36a39; }
.mycard_con li:after, .mycard_con .free:before { background: url(site.png) no-repeat 0px -30px; background-size: 320px auto; position: absolute; right: 0px; bottom: 0px; content: ''; display: block; width: 139px; height: 55px; z-index: 0; }
.mycard_con li.free { background: #5096f7; }
.mycard_con li.free:before { width: 100px; height: 69px; background-position: 0px -85px; left: 20px; top: 17px; }
.mycard_con li.free .name { font-size: 2em; color: #fff; margin: 40px 0 0 130px; }
.mycard_con .time { padding-top: 0; color: #fff; font-size: .8em; width: 100px; position: absolute; text-align: center; right: -10px; top: 50%; margin-top: -19px; -webkit-transform-origin: 50% 50%; -webkit-transform: rotate(-90deg); }
.mycard_con .time .hd:before, .mycard_con .time .hd:after { display: inline-block; content: ''; border-top: 1px solid #fff; width: 27px; height: 5px; }
.mycard_con .time .hd:before { margin-right: 3px; }
.mycard_con .time .hd:after { margin-left: 3px; }
.mycard_con .time .con { margin-top: 10px; }

.mycard_con .name { font-size: .84em; color: #fff; margin: -5px 0 0 20px; }
.mycard_con .price:before { content: '￥'; display: inline-block; font-size: 12px; vertical-align: 2px; }
.mycard_con .price { font-size: 3.2em; color: #fff; margin: 10px 0 0 20px; }

.mycard_con li.price50 { background: #fc3; }
.mycard_con li.price10 { background: #d6415c; }

.mycard_con li.dis { background: #ccc; }

.mypoint .curr { text-align: center; margin-top: 20px; }
.mypoint .curr b { font-size: 2.4em; color: #d6415c; vertical-align: -3px; }
.mypoint .notice { text-align: center; font-size: .7em; margin-top: 5px; }
.mypoint .notice span { color: #d6415c; }
.mypoint .hd { margin-top: 6px; font-size: 1em; margin: 20px 0 0 6px; }
.mypoint_list { margin-top: 6px; background: #fff; }
.mypoint_list li { padding: 12px 6px 10px 6px; position: relative; border-bottom: 1px solid #ccc; margin: 0 5px; }
.mypoint_list .from { margin-top: 4px; }
.mypoint_list .date { font-size: .7em; color: #999; margin-top: 4px; }
.mypoint_list .points { position: absolute; right: 5px; top: 50%; margin-top: -8px; color: #d6415c; }
.mypoint_list .points.minus { color: #000; }

.myorder { }
.myorder > .hd { display: -webkit-box; margin-top: 2px; text-align: center; font-size: .9em; }
.myorder > .hd li { -webkit-box-flex: 1; width: 0px; background: #eeefef; color: #666; height: 36px; line-height: 36px; }
.myorder > .hd li.curr { background: #d6415c; color: #fff; }

.myorder > .con { }
.myorder .con li { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin-top: 10px; background: #fff; }
.myorder .con li .hd { border-bottom: .5px solid #ccc; margin: 0 5px; height: 30px; line-height: 30px; font-size: .9em; }
.myorder .con li .hd:before { content: ''; width: 20px; height: 20px; display: inline-block; background: #41c0c2 url(icon.png) no-repeat -120px 0px; background-size: 320px auto; border-radius: 50%; vertical-align: -5px; margin: 0 6px; }
.myorder .con li .hd .status { float: right; margin-right: 6px; }
.myorder .con li .bd { border-bottom: .5px solid #ccc; display: -webkit-box; }
.myorder .con li .bd img { display: block; width: 60px; height: 60px; margin: 10px; }
.myorder .con li .bd .con { -webkit-box-flex: 1; }
.myorder .con li .bd h2 { font-size: .95em; margin-top: 10px; }
.myorder .con li .bd h3 { font-size: .7em; font-weight: normal; margin-top: 8px; }
.myorder .con li .bd h4 { font-size: .7em; font-weight: normal; margin-top: 4px; }
.myorder .con .priceinfo { margin: 20px 10px 0 0; text-align: right; }
.myorder .con .priceinfo span { display: block; }
.myorder .con .priceinfo .price { font-size: 1.2em; }
.myorder .con .priceinfo .qty { color: #999; }

.myorder .con li.from1 .hd:before { background-position-x: -150px; }
.myorder .con li .ft { height: 30px; line-height: 30px; padding-left: 6px; font-size: .9em; }
.myorder .con li .ft .btn_sml { height: 24px; line-height: 24px; background: #d6415c; color: #fff; display: inline-block; font-size: .8em; border-radius: 4px; padding: 0 5px; float: right; margin: 3px 6px 0 0; }

.member_info { }
.member_info dt { margin: 15px 0 6px 15px;; font-size: .8em; }
.member_info dd { height: 36px; line-height: 36px; background: #fff; }
.member_info dd input { border: 0px; box-sizing: border-box; width: 100%; height: 100%; padding-left: 15px; }
.member_info dd .radio { width: 50%; float: left; height: 100%; background: #fff; color: #666; text-align: center; font-size: .8em; }
.member_info dd .radio:before { display: none; }
.member_info dd .radio.curr { background: #d6415c; color: #fff; }

.member_bar { text-align: center; }
.member_bar b { display: inline-block; color: #fff; border-radius: 4px; line-height: 36px; height: 36px; padding: 0 20px; margin: 15px 15px; }
.member_bar .btn_mid { background: #d6415c; }
.member_bar .btn_cancel { background: #999; }


.settings { background: #fff; }
.settings .hello { text-align: center; height: 140px; padding-top: 50px; font-size: 1.2em; color: #333; background: #eeefef; }
.settings .con { border-top: 1px solid #d6415c; }
.settings .con li { border-bottom: 1px solid #d6415c; height: 70px; line-height: 70px; }
.settings .con li:before { content: ''; display: inline-block; width: 40px; height: 40px; margin: 15px 10px 0 10px; vertical-align: -14px; border-radius: 50%; background: #d6415c url(icon.png) no-repeat 0px -190px; background-size: 320px auto; }
.settings .con li:nth-child(2):before { background-position-x: -40px; }
.settings .con li:after { display: inline; content: ''; float: right; width: 12px; height: 12px; border-top: 1px solid #d6415c; border-right: 1px solid #d6415c; -webkit-transform: rotate(45deg); margin-top: 29px; margin-right: 15px; }

.message_card { background: #fff; margin-top: 8px; padding-bottom: 1px; }
.message_card .hd { overflow: hidden; }
.message_card .hd:before { content: ''; display: block; width: 30px; height: 30px; margin: 5px 10px 0 10px; vertical-align: 0px; border-radius: 50%; background: #d6415c url(icon.png) no-repeat -181px 0px; background-size: 320px auto; float: left; }
.message_card .hd h2 { font-size: 1em; margin-top: 5px; }
.message_card .hd h3 { font-size: .7em; margin-top: 3px; color: #999; }
.message_card .bd { font-size: .85em; margin: 10px; background: #eeefef; border-radius: 4px; position: relative; padding: 10px; line-height: 1.5; }
.message_card .bd:before { background: #eeefef; width: 7px; height: 7px; content: ''; display: block; position: absolute; top: -4px; left: 20px; -webkit-transform: rotate(45deg); }

.guide_bd > .hd { background: #41c0c2 url(guide_hd.png) repeat-x; background-size: auto 100%; border-radius: 6px; display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align: center; font-size: .8em; height: 32px; }
.guide_bd > .hd li { -webkit-box-flex: 1; width: 0px; text-align: center; color: #fff; font-weight: bold; }
.guide_bd > .row { }
