<header>
    <div class="head_back" sn-binding="data-back:back"></div>
    <div sn-binding="html:title" class="head_title"></div>
</header>
<div class="main">
    <div class="aboutus">

        ABS尊重并保护所有使用ABS平台服务用户的个人隐私权。为了给您提供更准确、更有个性化的服务，ABS会按照本隐私权政策的规定使用和披露您的个人信息。但ABS将以高度的勤勉、审慎义务对待这些信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，ABS不会将这些信息对外披露或向第三方提供。ABS会不时更新本隐私权政策。您在同意ABS服务协议之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于ABS服务协议不可分割的一部分。<br><br>

        <b>1. 适用范围</b><br>
        a） 在您注册或激活可以登录ABS平台的账户时，您在ABS平台提供的个人注册信息（应法律法规要求需公示的企业名称等相关工商注册信息以及自然人经营者的信息除外）；<br>
        b） 在您使用ABS平台服务，或访问ABS平台网页时，ABS自动接收并记录的您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、 访问日期和时间、软硬件特征信息及您需求的网页记录等数据；如您下载或使用ABS或其关联公司移动客户端软件，或访问移动网页使用ABS平台服务时，ABS可能会读取与您位置和移动设备相关的信息，包括但不限于设备型号、设备识别码、操作系统、分辨率、电信运营商等。<br>
        c） ABS通过合法途径从商业伙伴处取得的用户个人数据。<br>
        您了解并同意，以下信息不适用本隐私权政策：<br>
        a）您在使用ABS平台提供的搜索服务时输入的关键字信息；<br>
        b）ABS收集到的您在ABS进行交易的有关数据，包括但不限于出价、成交信息及评价详情；<br>
        c）信用评价、违反法律规定或违反ABS规则行为及ABS已对您采取的措施。<br><br>

        <b>2. 信息使用</b><br>
        a) ABS不会向任何无关第三方提供、出售、出租、分享或交易您的个人信息，除非事先得到您的许可，或该第三方和ABS单独或共同为您提供服务，且在该服务结束后，其将被禁止访问包括其以前能够访问的所有这些资料。<br >
        b)ABS亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播您的个人信息。任何ABS平台用户如从事上述活动，一经发现，ABS有权立即终止与该用户的服务协议。<br>
        c) 为服务用户的目的，ABS或其关联公司可能通过使用您的个人信息，向您提供您可能感兴趣的信息，包括但不限于向您发出产品和服务信息，或通过系统向您展示个性化的第三方推广信息，或者与ABS合作伙伴共享信息以便他们向您发送有关其产品和服务的信息（后者需要您的事先同意）。<br>
        d) ABS可以使用您的个人信息以预防、发现、调查欺诈、危害安全、非法或违反与ABS或其关联公司协议、政策或规则的行为，以保护您、其他ABS用户，或ABS或其关联公司合法权益。<br><br>

        <b>3. 信息存储和交换</b><br>
        ABS收集的有关您的信息和资料将保存在ABS及（或）其关联公司的服务器上，这些信息和资料可能传送至您所在国家、地区或ABS收集信息和资料所在地的境外并在境外被访问、存储和展示。<br><br>

        <b>4. Cookie的使用</b><br>
        a) 在您未拒绝接受cookies的情况下，ABS会在您的计算机上设定或取用cookies，以便您能登录或使用依赖于cookies的ABS平台服务或功能。ABS使用cookies可为您提供更加周到的个性化服务，包括推广服务。<br>
        b) 您有权选择接受或拒绝接受cookies。您可以通过修改浏览器设置的方式拒绝接受cookies。但如果您选择拒绝接受cookies，则您可能无法登录或使用依赖于cookies的ABS平台服务或功能。<br>
        c) 通过ABS所设cookies所取得的有关信息，将适用本政策；<br><br>

        <b>5. 未成年人的特别注意事项</b><br>
        如果您不是具备完全民事权利能力和完全民事行为能力的自然人，您无权使用ABS平台服务，因此ABS希望您不要向我们提供任何个人信息。<br><br>
    </div>
</div>
