<div sn-display="{{!showGuide}}">
    <header sn-display="{{isLogin}}">
        <div class="head_menu" sn-display="{{bottomTab==3}}" data-forward="/settings"></div>
        <ul class="head_tab" sn-display="{{bottomTab==0}}">
            <li class="{{tab==0?'curr':''}}">会员卡</li>
            <li class="{{tab==1?'curr':''}}">去购物</li>
            <i class="cursor" style="-webkit-transform: translate3d({{tab==1?100:0}}%, 0%, 0);"></i>
        </ul>
        <div class="head_title" style="display:{{bottomTab!=0?'block':'none'}}">{{bottomTab==1?'查找店铺':bottomTab==2?"购物车":"我"}}</div>
        <div class="head_msg" data-forward="/messages">
            <i sn-display="{{msg_count!=0}}">{{msg_count}}</i>
        </div>
        <div class="head_all" data-forward="/all" sn-display="{{tab==1&&bottomTab==0}}">
            <i sn-display="{{msg_count!=0}}">{{msg_count}}</i>
        </div>
    </header>
    <div sn-display="{{!isLogin}}">
        <div class="home_mask"></div>
        <div class="home_text" data-forward="/login">
            <h1></h1>
            <h2>让回家的灯，为爱亮起来。</h2>
            <h3>开启时尚居家之旅</h3>
            <h4>LIFE STARTS HERE</h4>
        </div>
        <div class="launch">
            <img src="images/launch0.jpg" />
            <img src="images/launch1.jpg" class="launch_hide" />
            <img src="images/launch2.jpg" class="launch_hide" />
        </div>
    </div>
    <div sn-display="{{isLogin}}">
        <div class="main hm_tab_con js_usescroll {{isLogin?'':'isnotlogin'}}" style="-webkit-transform:translate3d({{tab==0?0:-100}}%,0%,0);display:{{bottomTab==0?'block':'none'}}"
        data-index="0">
            <div class="hm_chart_wrap">
                <div class="hm_chart">
                    <div class="hm_chart_con" sn-tap="chartType=1" sn-display="{{chartType==0}}">
                        <div class="hd">当前活力值</div>
                        <div class="bd">{{util.formatMoney(energyAnimNum)}}</div>
                        <div class="ft">目标 {{util.formatMoney(levelAmounts)}}</div>
                    </div>
                    <div class="hm_chart_con" sn-tap="chartType=2" sn-display="{{chartType==1}}">
                        <div class="hd">我的月礼</div>
                        <div class="bd">{{user.FreeMonths}}</div>
                    </div>
                    <div class="hm_chart_con" sn-tap="chartType=3" sn-display="{{chartType==2}}">
                        <div class="hd">我的卡券</div>
                        <div class="bd">{{user.FreeCouponsCount+user.CouponsCount}}</div>
                    </div>
                    <div class="hm_chart_con" sn-tap="chartType=0" sn-display="{{chartType==3}}">
                        <div class="hd">积分钱包</div>
                        <div class="bd">{{user.Points}}</div>
                    </div>
                    <canvas class="hm_chart_canvas js_canvas"></canvas>
                </div>
                <div class="hm_chart_desc">{{vipName}}</div>
                <div class="hm_steward_link" data-forward="/steward">您现在拥有<em>{{user.StewardNum}}</em>条爱管家记录啦！</div>
                <ul class="hm_chart_list">
                    <li data-forward="/month"><i>我的月礼</i><em>{{user.FreeMonths}}</em></li>
                    <li data-forward="/coupon"><i>我的卡券</i><em>{{user.FreeCouponsCount+user.CouponsCount}}</em></li>
                    <li data-forward="/mypoint"><i>积分钱包</i><em>{{user.Points}}</em></li>
                </ul>
            </div>
            <div class="hm_my_barcode">
                <div class="barcode" sn-html="{{barcode}}">
                </div>
                <div class="mobile">{{user.Mobile}}</div>
            </div>
            <ul class="hm_cards">
                <li data-forward="/list?type=new&from=%2f"><i></i>
                    <p>NEW ARRIVAL</p>
                    <p>新品上市</p>
                </li>
                <li data-forward="/news/activity2"><i></i>
                    <p>BEST BUYS</p>
                    <p>最热商品</p>
                </li>
                <li data-forward="/news/fastbuy?from=%2f"><i></i>
                    <p>FLASH SALE</p>
                    <p>周一闪购</p>
                </li>
                <li data-forward="/news/activity3"><i></i>
                    <p>APP ONLY</p>
                    <p>APP专享</p>
                </li>
            </ul>
        </div>
        <div class="main js_shop hm_tab_con" style="-webkit-transform:translate3d({{tab==1?0:100}}%,0%,0);display:{{bottomTab==0?'block':'none'}}"
        data-index="1">
            <div class="hm_shop">
                <div class="hm_cate" data-forward="/all">
                    <div class="hd">所有<br>商品</div>
                    <div class="bd">
                        <ul>
                            <li>出行</li>
                            <li>睡眠</li>
                            <li>美食</li>
                            <li>沐浴</li>
                        </ul>
                        <ul>
                            <li>休闲</li>
                            <li>家务</li>
                            <li>空间</li>
                            <li>儿童</li>
                        </ul>
                    </div>
                </div>
                <div class="banner">
                    <img src="http://appuser.abs.cn/dest/images/banner1.jpg" data-forward="/news/banner" />
                </div>
                <ul class="hm_shop_cate">
                    <li data-forward="/list?type=new&from=%2f"><i></i>新品<br>上市</li>
                    <li data-forward="/news/activity2"><i></i>最热<br>商品</li>
                    <li data-forward="/news/fastbuy?from=%2f"><i></i>周一<br>闪购</li>
                    <li data-forward="/news/activity3"><i></i>APP<br>专享</li>
                </ul>
                <div sn-repeat="item in activity">
                    <div class="hm_shop_banner" data-forward="/item/{{item.PrdId}}?from=%2f"><img data-src="{{item.PrdImg}}" /></div>
                    <div class="hm_shop_scroll" style="padding-right:10px;">
                        <ul class="hm_shop_list">
                            <li class="hm_shop_list_item" sn-repeat="prd in item.data" data-forward="/item/{{prd.PRD_ID}}?from={{encodeURIComponent('/')}}">
                                <img data-src="{{prd.WPP_LIST_PIC}}" />
                                <p class="price">￥{{prd.PRD_PRICE}} <del sn-display="{{prd.PRD_SPECIAL_FLAG}}">¥{{prd.PRD_MEMBER_PRICE}}</del></p>
                                <p class="name">{{prd.PRD_NAME}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main" style="display:{{bottomTab==1?'block':'none'}}">
            <div class="baiduMap" sn-html="{{baiduMap}}">
            </div>
        </div>
        <div class="main js_cart" style="display:{{bottomTab==2?'block':'none'}}">
        </div>
        <div class="main" style="display:{{bottomTab==3?'block':'none'}}" data-index="3">
            <div class="hm_my_card">
                <div class="vip_name">{{vipName}}</div>
                <div class="energy">
                    当前活力值<span>{{util.formatMoney(energy)}}</span>
                </div>
                <div class="energy_bar">
                    <span style="width:{{energyPercent}}"></span>
                </div>
                <div class="energy_val">
                    <div class="energy_val_from">{{util.formatMoney(currentLevel)}}</div>
                    <div class="energy_val_to">{{util.formatMoney(nextLevel)}}</div>
                </div>
            </div>
            <div class="hm_my_barcode">
                <div class="barcode" sn-html="{{barcode}}">
                </div>
                <div class="mobile">{{user.Mobile}}</div>
            </div>
            <ul class="hm_my_list">
                <li data-forward="/month">
                    <b>我的月礼</b>
                    <span><em>{{user.FreeMonths}}</em>个月</span>
                </li>
                <li data-forward="/coupon">
                    <b>我的卡券</b>
                    <span><em>{{user.FreeCouponsCount+user.CouponsCount}}</em>张</span>
                </li>
                <li data-forward="/mypoint">
                    <b>积分钱包</b>
                    <span><em>{{user.Points}}</em>分</span>
                </li>
                <li data-forward="/myorder">
                    <b>购买记录</b>
                    <span><em>{{user.OrderCount}}</em>条</span>
                </li>
                <li data-forward="/steward">
                    <b>爱管家记录</b>
                    <span><em>{{user.StewardNum}}</em>条</span>
                </li>
            </ul>
        </div>
        <div class="main js_offline" sn-display="{{isOffline}}">
            <div class="home_offline">
                <div class="ico"></div>
                <div class="txt">您的网络不太顺畅哦</div>
                <div class="txt_sub">请检查您的手机是否联网</div>
                <div class="btn">重新加载</div>
            </div>
        </div>
    </div>
    <ul class="footer" sn-display="{{isLogin}}">
        <li class="curr">首页</li>
        <li>附近门店</li>
        <li>购物车<i sn-display="$state.cartQty!=0">{{$state.cartQty}}</i></li>
        <li>我</li>
    </ul>
    <div class="open_msg" style="display:none">
        <div class="msg_bd" sn-html="{{message}}"></div>
    </div>
    <div class="home_tip_mask" sn-display="{{isLogin&&showTipStep==1}}"></div>
</div>
<div class="hm_guide" sn-display="{{showGuide}}">

</div>