.ct_coupon_list li .name { height: auto; }
.pd_buy .btn_cart:before { background: url(icon.png) no-repeat -40px -190px; background-size: 320px auto; }
.footer { border-top: 0; }
.head_all:before { background-image: url(icon.png); }
.searchwrap { z-index: 1001; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #fff; }
.searchwrap .main { bottom: 0; }
.head_search { position: relative; z-index: 1; }
.head_right { font-size: 14px; }
.searchlist li { height: 40px; color: #666; font-weight: normal; line-height: 40px; border-bottom: 1px solid #ddd; background: #fff; padding-left: 10px; }

.disc_list li p.tit { font-size: 18px; position: relative; }
.disc_list li p.tit:before { content: ''; display: block; position: absolute; bottom: 0; left: 10px; right: 10px; border-bottom: 1px solid #fff; }
.disc_list li p p { padding: 0; }
.banner { min-height: 60px; }
.searchhistory { height: 48px; border-bottom: 1px solid #ddd; background: #fff; color: #999; line-height: 48px; padding-left: 10px; }
.icon-clear { width: 30px; height: 30px; float: right; }
.icon-clear:before { width: 20px; height: 25px; display: block; content: ''; background: url(icon_append.png) no-repeat 0px 0px; background-size: 30px auto; margin-top: 13px; }
.disc_bottom ul li.curr.fav:before { background-position: -210px -150px; }

.express_list { background: #fff; position: relative; border-top: 1px solid #ddd; }
.express_list:before { content: ''; display: block; position: absolute; left: 13px; top: 0px; bottom: 0px; border-left: 1px dashed #e65e5f; }
.express_list dd:first-child { color: #e65e5f; }
.express_list dd:first-child:before { background-color: #fff; border: 1px solid #e65e5f; }

.express_list dd:last-child { border-bottom: 0; }
.express_list dd { position: relative; color: #666; border-bottom: 1px solid #ddd; margin-left: 30px; padding: 8px 6px 3px 0px; font-size: 13px; }
.express_list dd p { margin-bottom: 5px; }
.express_list dd:before { content: ''; display: block; position: absolute; left: -22px; top: 50%; margin-top: -5px; width: 10px; height: 10px; background: #e65e5f; border-radius: 100%; }

.myorder .con li .info { font-size: 12px; }