<header>
    <div class="head_back" data-back="{{back}}"></div>
    <div class="head_title">{{title}}</div>
</header>
<div class="main">
    <div class="sp_buy">
        <div class="sp_buy_hd js_address">
            <div class="info"><span class="name">{{address.MBA_NAME}}</span><span class="mobi">{{address.MBA_MOBILE}}</span></div>
            <div class="loc">{{address.MBA_FULL_ADDRESS}}</div>
        </div>
        <div class="sp_buy_bd sp_buy_bill">
            <div class="hd">支付结算</div>
            <ul>
                <li><span>商品价</span><em>¥{{prod_amount}}</em></li>
                <li><span>优惠券</span><em>-¥{{$state.selectedCoupon.VCA_DEDUCT_AMOUNT||0}}</em></li>
                <li><span>积分</span><em>-¥{{Points/100||0}}</em></li>
                <li><span>运费</span><em>{{var a=Math.max(0,bag_amount-couponprice-(Points/100)),(($state.selectedFreeCoupon || a >= 99) ? '免运费' : ('+¥'+15))}}</em></li>
                <li><span>总计</span><b>{{this.getTotal(bag_amount,$state.selectedCoupon,Points||0,$state.selectedFreeCoupon)}}</b></li>
            </ul>
        </div>
        <div class="sp_buy_bd sp_buy_pay">
            <div class="hd">支付方式</div>
            <ul>
                <li class="ico_alipay{{payType==1?' checked':''}}" sn-tap="payType=1">支付宝支付</li>
                <li class="ico_wxpay{{payType==2?' checked':''}}" sn-tap="payType=2">微信支付</li>
            </ul>
        </div>
    </div>
</div>
<footer class="sp_buy_action">
    <div class="total">总计：<b>{{this.getTotal(bag_amount,$state.selectedCoupon,Points||0,$state.selectedFreeCoupon)}}</b></div>
    <div class="btn_buy js_buy">立即支付</div>
</footer>