@helper list(){
<div class="ct_list_wrap" sn-display="{{util.isTrue(data)}}">
    <ul class="ct_list">
        <li class="ct_list_item">
            <div class="ct_list_item_con">
                <img src="" />
                <div class="con">
                    <b class="name">Mavis多功能榨汁活力瓶</b>
                    <p class="size">尺寸：XXL</p>
                    <p class="color">颜色：绿色</p>
                    <p class="qty">
                        <span class="minus">-</span>
                        <input type="text" value="1" />
                        <span class="plus">+</span>
                    </p>
                </div>
                <div class="ft">
                    <b class="price">￥000</b>
                    <del>￥000</del>
                </div>
            </div>
        </li>
        <li class="ct_list_item">
            <div class="ct_list_item_con">
                <img src="" />
                <div class="con">
                    <b class="name">Mavis多功能榨汁活力瓶</b>
                    <p class="size">尺寸：XXL</p>
                    <p class="color">颜色：绿色</p>
                    <p class="qty">
                        <span class="minus">-</span>
                        <input type="text" value="1" />
                        <span class="plus">+</span>
                    </p>
                </div>
                <div class="ft">
                    <b class="price">￥000</b>
                    <del>￥000</del>
                </div>
            </div>
        </li>
    </ul>
    <ul class="ct_list_info">
        <li><span>商品总价</span><em><b class="price">￥000</b></em></li>
        <li class="link js_use_coupon"><span>使用优惠券</span><em><b>5</b>张可用</em></li>
        <li class="link js_use_point"><span>积分抵扣</span><em><b>400</b>积分可用</em></li>
        <li class="link js_use_freecard"><span>运费</span><em><b>1</b>张免邮卡可用</em></li>
        <li><span>总计</span><em><b class="price">￥000</b></em></li>
    </ul>
</div>
<div class="my_nodata" sn-display="{{util.isFalse(data)}}">
    <div class="icon"></div>
    <div class="text">您的购物车内还没有商品</div>
    <div class="btn" data-forward="/all?from=/cart">去逛逛吧</div>
</div>
}
<header>
    <div class="head_back" data-back="{{back}}"></div>
    <div class="head_title">{{title}}</div>
</header>
<div class="main">
    @this.helpers.list()
</div>
<footer class="ct_list_action">
    <div class="total">总计：<b>￥200</b></div>
    <div class="btn_buy js_buy">结 算</div>
</footer>
<div class="ct_coupon_wrap {{isShowCoupon?'':'out'}}" style="display:none">
    <div class="ct_coupon">
        <div class="ct_coupon_hd">选择优惠券</div>
        <div class="ct_coupon_use">
            <input type="text" placeholder="请输入券码" />
            <b class="btn">使用</b>
        </div>
        <div class="ct_coupon_list">
            <div class="hd">已有优惠券</div>
            <ul class="bd">
                <li sn-repeat="item in coupon|filter:couponType==4?item.VCA_VCT_ID==4:(item.VCA_VCT_ID!=4)" class="{{(item.VCA_VCT_ID == 4 ? 'free' : item.VCA_VCT_ID == 2 ? 'vct2' : item.VCA_VCT_ID == 5 ? 'vct5' : '') + (item.IsOverdue ? ' dis' : '')}}">
                    <div class="price">{{util.currency(item.VCA_DEDUCT_AMOUNT,'')}}</div>
                    <div class="name">{{item.VCA_VCT_ID==4?'免邮卡':item.VCA_NAME}}</div>
                    <div class="time">有效期:{{item.IsOverdue?'已过期':(util.formatDate(item.CSV_START_DT,'yyyy/MM/dd')+'-'+util.formatDate(item.CSV_END_DT,'yyyy/MM/dd'))}}</div>
                </li>
                <div class="nodata">暂无优惠券</div>
            </ul>
        </div>
    </div>
</div>