<header>
    <div class="head_back" data-back="{{back}}"></div>
    <div class="head_search">
        <input type="text" placeholder="热门搜索：新月枕" />
    </div>
</header>
<div class="main">
    <ul class="sp_all_cates">
        <li sn-repeat="item in categories|filter:item.PCG_DEPTH==1" class="{{item.PCG_ID==id?'curr':''}}" data-forward="/list?id={{item.PCG_ID}}&from=/all">{{item.PCG_DESC}}</li>
    </ul>
    <div class="sp_all_banner"><img src="" /></div>
    <ul class="sp_all_list">
        <li class="sp_all_list_item"><a><img /></a></li>
        <li class="sp_all_list_item"><a><img /></a></li>
        <li class="sp_all_list_item"><a><img /></a></li>
        <li class="sp_all_list_item"><a><img /></a></li>
    </ul>
</div>