<div class="pd_item_wrap">
    <header class="header_trans">
        <div class="head_back" data-back="{{back}}"></div>
        <div class="head_right">
            <a class="head_call" href="tel:4008205077"></a>
            <div class="head_share js_share"></div>
        </div>
    </header>
    <div class="main pd_item">
        <div class="pd_slider">
            <img width="100%" height="100%" src="{{data.WPP_M_PIC}}" />
        </div>
        <div class="pd_info_wrap">
            <div class="pd_info">
                <h1>{{data.PRD_NAME}}</h1>
                <p class="price">{{data.PRD_PRICE}}</p>
                <del class="ori_price"></del>
                <p class="pd_code">
                    <span class="code">商品编码 {{data.PRD_CODE}}</span>
                    <span class="sale">销售 {{data.PSV_QTY}} 件</span>
                </p>
            </div>
            <div class="pd_share js_share"></div>
        </div>
        <ul class="pd_sign">
            <li>满99包邮</li>
            <li>30天退换货保障</li>
        </ul>
        <!--<div class="pd_select_plus">
            买指定羊毛系列产品，￥99任选3件
        </div>-->
        <div class="pd_select_size js_select_size">
            选择 尺码 颜色分类
        </div>
        <div class="pd_item_con">
            <h2>商品特点：</h2>
            <div class="con" sn-html="{{data.PRH_FEATURE}}"></div>
        </div>
        <div class="pd_jump_detail" data-forward="/detail/{{data.PRD_ID}}"><b>图文详情</b><em>建议在WIFI情况下查看</em></div>
        <div class="pd_help">
            如果您有任何疑问，欢迎联系我们的客服。
            <br> 联系热线：400-820-5077 周一至周日 9:00-19:00
        </div>
    </div>
    <footer class="pd_buy">
        <b class="btn_cart" data-forward="/cart?from={{url}}"><i>{{user.CartNum}}</i></b>
        <b class="btn_buy js_buy">加入购物车</b>
    </footer>
</div>
<div class="pd_size_wrap js_size {{isShowSize?'':'out'}}" style="display:none">
    <div class="pd_size">
        <div class="pd_size_close" sn-tap="isShowSize=false"></div>
        <div class="base_info">
            <div class="img"><img src="{{data.WPP_M_PIC}}" /></div>
            <div class="info">
                <h2 class="price">¥{{data.PRD_PRICE}}</h2>
                <div class="qty">库存{{data.PRD_NUM}}件</div>
                <p class="other">
                    <em>选择</em>
                    <em>尺码</em>
                    <em>颜色分类</em>
                </p>
            </div>
        </div>
        <div class="pd_size_con">
            <div class="pd_size_select">
                <div class="hd">尺码{{data.PRD_SPEC}}</div>
                <ul>
                    <li sn-repeat="item in spec" class="{{data.PRD_SPEC==item?'curr':''}}" sn-tap="data.PRD_SPEC=item">{{item}}</li>
                </ul>
            </div>
            <div class="pd_size_select">
                <div class="hd">颜色分类</div>
                <ul>
                    <li sn-repeat="item in color" class="{{data.PRD_COLOR==item?'curr':''}}">{{item}}</li>
                </ul>
            </div>
        </div>
        <div class="pd_size_buy">
            <p class="hd">购买数量</p>
            <p class="qty"><em>-</em>
                <input type="text" class="qty" value="1" />
                <em>+</em>
            </p>
        </div>
        <b class="btn_large btn_confirm">确认</b>
    </div>
</div>