<div class="pd_item_wrap">
    <header class="header_trans">
        <div class="head_back" data-back="{{back}}"></div>
        <div class="head_right">
            <a class="head_call" href="tel:4008205077"></a>
            <div class="head_share js_share"></div>
        </div>
    </header>
    <div class="main pd_item">
        <div class="pd_slider"></div>
        <div class="pd_info_wrap">
            <div class="pd_info">
                <h1>Mikey蝴蝶结兔毛保暖耳罩</h1>
                <p class="price">000-000</p>
                <del class="ori_price"></del>
                <p class="pd_code">
                    <span class="code">商品编码 code</span>
                    <span class="sale">销售 xxx 件</span>
                </p>
            </div>
            <div class="pd_share js_share"></div>
        </div>
        <ul class="pd_sign">
            <li>满99包邮</li>
            <li>30天退换货保障</li>
        </ul>
        <div class="pd_select_plus">
            买指定羊毛系列产品，￥99任选3件
        </div>
        <div class="pd_select_size js_select_size">
            选择 尺码 颜色分类
        </div>
        <div class="pd_item_con">
            <h2>商品特点：</h2>
            <div class="con">
                1. 帮面选用棉麻混纺面料，舒适、透气性兼具；
                <br> 2. 天然黄麻中底，采用立体编织技术，穿着舒适，有足底按摩的功效； 黄麻面料拥有抗霉菌性，具有透气调节温度的功效，长时间保持干爽； 3. EVA材质防滑大底，轻便舒适，不伤地板； 4. 款式升级：素色与条纹拼接；
                女款更增加蕾丝元素。
            </div>
        </div>
        <div class="pd_jump_detail" data-forward="/detail/{{id}}"><b>图文详情</b><em>建议在WIFI情况下查看</em></div>
        <div class="pd_help">
            如果您有任何疑问，欢迎联系我们的客服。
            <br> 联系热线：400-820-5077 周一至周日 9:00-19:00
        </div>
    </div>
    <footer class="pd_buy">
        <b class="btn_cart"><i></i></b>
        <b class="btn_buy js_buy">加入购物车</b>
    </footer>
</div>
<div class="pd_size_wrap js_size {{isShowSize?'':'out'}}" style="display:none">
    <div class="pd_size">
        <div class="pd_size_close" sn-tap="isShowSize=false"></div>
        <div class="base_info">
            <div class="img"><img src="" alt=""></div>
            <div class="info">
                <h2 class="price">¥000</h2>
                <div class="qty">库存xxx件</div> 
                <p class="other">
                    <em>选择</em>
                    <em>尺码</em>
                    <em>颜色分类</em>
                </p>
            </div>
        </div>
        <div class="pd_size_con">
            <div class="pd_size_select">
                <div class="hd">尺码</div>
                <ul>
                    <li class="curr">3吗</li>
                    <li>1</li>
                    <li>2</li>
                    <li>2</li>
                    <li>2</li>
                </ul>
            </div>
            <div class="pd_size_select">
                <div class="hd">颜色分类</div>
                <ul>
                    <li>3吗</li>
                    <li>1</li>
                    <li>2</li>
                </ul>
            </div>
        </div>
        <div class="pd_size_buy">
            <p class="hd">购买数量</p>
            <p class="qty"><em>-</em>
                <input type="text" class="qty" value="1" />
                <em>+</em>
            </p>
        </div>
        <b class="btn_large btn_confirm">确认</b>
    </div>
</div>