<header>
    <div class="head_back" data-back="{{back}}"></div>
    <div class="head_title">{{title}}</div>
</header>
<div class="main">
    <ul class="sp_list_sort">
        <li class="curr">新品</li>
        <li>销量</li>
        <li>价格</li>
    </ul>
    <ul class="sp_list">
        <li sn-repeat="item in data" class="sp_list_item" data-forward="/item/{{item.PRD_ID}}">
            <img src="{{item.WPP_LIST_PIC1}}"/>
            <p class="price"><b>￥{{item.PRD_PRICE}}</b><del sn-display="{{item.PRD_PRICE!=0&&item.PRD_PRICE<item.PRD_MEMBER_PRICE}}">￥{{item.PRD_MEMBER_PRICE}}&nbsp;</del></p>
            <p class="name">{{item.PRD_NAME}}</p>
        </li>
    </ul>
</div>