<header>
    <div class="head_back" data-back="{{back}}"></div>
    <div class="head_title">{{title}}</div>
</header>
<div class="main">
    <ul class="sp_list_sort">
        <li class="{{orderBy=='PRD_ONLINE_DT|desc'?'curr':''}}" sn-tap="this.orderBy('PRD_ONLINE_DT|desc')">新品</li>
        <li class="{{orderBy=='PSV_QTY|desc'?'curr':''}}" sn-tap="this.orderBy('PSV_QTY|desc')">销量</li>
        <li class="{{orderBy=='PRD_MEMBER_PRICE|asc'?'curr asc':orderBy=='PRD_MEMBER_PRICE|desc'?'curr desc':''}}" sn-tap="this.orderBy(priceSort?'PRD_MEMBER_PRICE|desc':'PRD_MEMBER_PRICE|asc'),priceSort=!priceSort">价格</li>
    </ul>
    <ul class="sp_list">
        <li sn-repeat="item in data" class="sp_list_item" data-forward="/item/{{item.PRD_ID}}">
            <img src="{{item.WPP_LIST_PIC1}}"/>
            <p class="price"><b>￥{{item.PRD_PRICE}}</b><del sn-display="{{item.PRD_PRICE!=0&&item.PRD_PRICE<item.PRD_MEMBER_PRICE}}">￥{{item.PRD_MEMBER_PRICE}}&nbsp;</del></p>
            <p class="name">{{item.PRD_NAME}}</p>
            <div class="sold_out" sn-display="{{item.PRD_NUM==0}}">脱 销<br>Sold Out</div>
        </li>
    </ul>
</div>